.chatWindow {
    box-shadow: 0 0 5px #95A5A6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    height: 600px;
    width: 600px;
    overflow-y: scroll;
}

.messageField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
}

.messageButton {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
}
